{% extends "web/base.html" %}


    {% block title %}
        Create account
    {% endblock %}

    {% block body %}
    <div id="registration">
        <form class="site-form" action="{% url 'create_account' %}" method="post">
        {% csrf_token %}
        <h1> Create account</h1>
            <table id="register-form">
                {{form}}
            </table>
        <br/>
        <input id="create-user-button" type='submit' value='Create account'>   
        </form>
    </div>
        
    {% endblock %}

