{% extends "web/base.html" %}

{% block title %}
    Home
{% endblock %}



{% block body %}
    


    <div id="reminders-menu">
            <table class="table table-hover" id ="reminders-table">
                    <thead>
                        <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
        
                     {% for reminder in reminders %}   

                     {% if reminder.status == "Active" %}    
                        <tr class ="Active">
                     {% else %}
                        <tr class ="Disabled">
                     {% endif %}
                        <td>{{reminder.title}}</td>

                            {% if reminder.status == "Active" %}
                                <td><button type="button" value="{{reminder.id}}" class="btn btn-success status-button">{{reminder.status}}</button></td>
                            {% else %}
                                <td><button type="button" value="{{reminder.id}}" class="btn btn-warning status-button">{{reminder.status}}</button></td>
                            {% endif %}

                        <td><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
                        </tr>
                     {% endfor %}
                    
                    </tbody>
                </table>
    </div>

    {% load static %}
    <script src="{% static 'web/dashboard.js' %}"></script>

{% endblock %}
