{% extends "web/base.html" %}


    {% block title %}
        Login
    {% endblock %}

    {% block body %}
    </br>
    <div class="centered-form">
        {% if message %}
        <div>
            {{ message }}
        </div>
        {% endif %}
        <form action="{% url 'login' %}" method="post" >
            {% csrf_token %}
            <input name="username" type="text"/>
            <input name="password" type="password"/>
            <input type="submit" value="Login"/>
        
            <br />
        
           <a href="{% url 'create_account' %}"> 
                    Create an account
            <a>      
      
        </div>
    {% endblock %}




